<!DOCTYPE html>
<html>

<head>
<title>Dashboards</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
<h1>Project Dashboard</h1>

<nav>
<a href="/">Home</a>
<a href="/dashboards">Dashboards</a>
<a href="/worksheets">Worksheets</a>
<a href="/stories">Stories</a>
</nav>
</header>

<section>

<h2>Dashboard</h2>

<div class='tableauPlaceholder' id='viz1773408853871' style='position: relative'>
<noscript>
<a href='#'>
<img alt='Dashboard 1'
src='https://public.tableau.com/static/images/YK/YK69NBJHT/1_rss.png'
style='border: none' />
</a>
</noscript>

<object class='tableauViz' style='display:none;'>

<param name='host_url' value='https://public.tableau.com/' />
<param name='embed_code_version' value='3' />
<param name='path' value='shared/YK69NBJHT' />
<param name='toolbar' value='yes' />
<param name='static_image'
value='https://public.tableau.com/static/images/YK/YK69NBJHT/1.png' />
<param name='animate_transition' value='yes' />
<param name='display_static_image' value='yes' />
<param name='display_spinner' value='yes' />
<param name='display_overlay' value='yes' />
<param name='display_count' value='yes' />
<param name='language' value='en-US' />
<param name='filter' value='publish=yes' />

</object>
</div>

<script type='text/javascript'>

var divElement = document.getElementById('viz1773408853871');
var vizElement = divElement.getElementsByTagName('object')[0];

if (divElement.offsetWidth > 800) {
vizElement.style.width='1320px';
vizElement.style.height='2027px';
} else if (divElement.offsetWidth > 500) {
vizElement.style.width='1320px';
vizElement.style.height='2027px';
} else {
vizElement.style.width='100%';
vizElement.style.height='2927px';
}

var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';

vizElement.parentNode.insertBefore(scriptElement, vizElement);

</script>

</section>

</body>
</html>