<!DOCTYPE html>
<html>

<head>
<title>Worksheets</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
<h1>Tableau Worksheets</h1>

<nav>
<a href="/">Home</a>
<a href="/dashboards">Dashboards</a>
<a href="/worksheets">Worksheets</a>
<a href="/stories">Stories</a>
</nav>
</header>


<section>
<h2>Charging Stations by Region and Type in India</h2>

<div class='tableauPlaceholder' id='viz1773408941352'></div>

<script>
var divElement = document.getElementById('viz1773408941352');
var vizElement = document.createElement('iframe');

vizElement.src="https://public.tableau.com/views/DataVisualisationwithDashboard/ChargingStationsbyRegionandTypeinIndia?:showVizHome=no";
vizElement.width="100%";
vizElement.height="800";

divElement.appendChild(vizElement);
</script>

</section>



<section>
<h2>EV Charging Stations Map of India</h2>

<div class='tableauPlaceholder' id='viz1773408999740'></div>

<script>
var divElement = document.getElementById('viz1773408999740');
var vizElement = document.createElement('iframe');

vizElement.src="https://public.tableau.com/views/DataVisualisationwithDashboard/EVChargingStationsMapofIndia?:showVizHome=no";
vizElement.width="100%";
vizElement.height="800";

divElement.appendChild(vizElement);
</script>

</section>



<section>
<h2>Different EV Cars in India</h2>

<iframe
width="100%"
height="800"
src="https://public.tableau.com/views/DataVisualisationwithDashboard/DifferentEVCarsinIndia?:showVizHome=no">
</iframe>

</section>



<section>
<h2>Top Speed for Different Brands</h2>

<iframe
width="100%"
height="800"
src="https://public.tableau.com/views/DataVisualisationwithDashboard/TopSpeedforDifferentBrands?:showVizHome=no">
</iframe>

</section>



<section>
<h2>Price for Different Brands in India</h2>

<iframe
width="100%"
height="800"
src="https://public.tableau.com/views/DataVisualisationwithDashboard/PriceforDifferentBrandsinIndia?:showVizHome=no">
</iframe>

</section>



<section>
<h2>Top 10 Most Efficient EV Brands</h2>

<iframe
width="100%"
height="800"
src="https://public.tableau.com/views/DataVisualisationwithDashboard/Top10MostEfficientEVBrands?:showVizHome=no">
</iframe>

</section>



<section>
<h2>Brands According to BodyStyle</h2>

<iframe
width="100%"
height="800"
src="https://public.tableau.com/views/DataVisualisationwithDashboard/BrandsaccordingtoBodyStyle?:showVizHome=no">
</iframe>

</section>



<section>
<h2>Brands Filtered by PowerTrainType</h2>

<iframe
width="100%"
height="800"
src="https://public.tableau.com/views/DataVisualisationwithDashboard/BrandsFilteredbyPowerTrainType?:showVizHome=no">
</iframe>

</section>



<section>
<h2>No of Models By Each Brand</h2>

<iframe
width="100%"
height="800"
src="https://public.tableau.com/views/DataVisualisationwithDashboard/NoofModelsByEachBrand?:showVizHome=no">
</iframe>

</section>



<section>

<h2>
Summary Card for EV Brands Globally <br>
<span style="font-size:18px; font-weight:normal;">
(Global Electric Vehicle Brand Overview)
</span>
</h2>

<iframe
width="100%"
height="800"
src="https://public.tableau.com/views/DataVisualisationwithDashboard/SummarycardfordifferentbrandsofEVCarsGlobally?:showVizHome=no">
</iframe>

</section>



<section>

<h2>
Summary Card for EV Brands in India <br>
<span style="font-size:18px; font-weight:normal;">
(Indian Electric Vehicle Brand Overview)
</span>
</h2>

<iframe
width="100%"
height="800"
src="https://public.tableau.com/views/DataVisualisationwithDashboard/SummarycardfordifferentbrandsofEVCarsinIndia?:showVizHome=no">
</iframe>

</section>